body {
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-image: url("../image/header_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 28px;
}

header h1 {
    margin: 0px;
    text-align: center;
    line-height: 500px;
}

nav {
    width: 150px;
    background-color: thistle;
}

main {
    flex: 1;
    background-color: chocolate;
}

aside {
    width: 200px;
    background-color: darkseagreen;
}

footer {

    height: 150px;
    background-color: aqua;
}

.container {
    display: flex;
    flex: 1;
}